/* --- Базовый хедер --- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 60px;
  font-weight: 400;
  font-size: 1rem;
  color: white;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0,0,0,0);
  transition: all 0.4s ease;
  z-index: 1000;
}

.header-inner {
  gap: 20vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.logo img {
  height: 80px;
  width: auto;
  transition: all 0.4s ease;
}

/* --- Навигация --- */
nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 20px;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s;
}

nav a {
  text-decoration: none;
  color: inherit;
}

/* --- Скролл --- */
.header.scrolled {
  background-color: #ffffff;
  box-shadow: 0 2px 12px rgba(0,0,0,0.15);
  color: #000;
}




/* --- Бургер --- */
.burger {
  display: none; /* скрыт на ПК */
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
  cursor: pointer;
  z-index: 1001;
}

.burger span  {
  display: block;
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.header.scrolled .burger span {
  background: #000;
}
.header.scrolled .burger.active span {
 background: #ffffff;
}

/* анимация для открытого состояния */
.burger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* --- Мобильное меню --- */
.nav {
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .logo img{
    width: 150px;
  }
  .header-inner{
    width: 90vw;
  }
  .header{
    width: 100%;
    padding: 0 ;
    margin: 0;
  }
  .burger {
    display: flex;
  }
  .header.scrolled{
    color: #ffffff;
    padding: 0;
    max-width: 100vw;
  }
  .nav {
    position: fixed;
    top: 0;
    height: 100vh;
    right: -100%;
    width: 100%;
    height: calc(100vh - 100px);
    background: rgba(0, 0, 0, 0.8);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: right 0.3s ease;
  }

  .nav.open {
    color: aliceblue !important;
    right: 0;
    height: 100vh;
  }

  nav ul {
    flex-direction: column;
    gap: 40px;
  }

  nav li {
    font-size: 1.5rem;
    color: white;
  }
}
