.chart-title{
    text-align: center;
    font-weight: 400;
    margin-bottom: 200px;
    margin-top: 100px;
}
.chart-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}