.chart-title {
    text-align: center;
    font-weight: 400;
    margin: 100px 0;
}

.chart-box {
    height: 400px;
    width: 1000px;
    margin-bottom: 100px;
}

@media (max-width: 768px) {
    .chart-title {
        font-size: 18px;
        margin: 50px 0;
    }
    .chart-box {
        width: 100%;
        height: 300px;
        margin-bottom: 50px;
    }
}