.inner{
    display: flex;
    flex-direction: column;
}
.inner h1{
   margin:  100px auto;
    font-weight: 300;
    text-align: center;
}
.filters-box{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
}
.filter{
    padding: 8px 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 300;
}
.filter select{
    padding: 8px 16px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;

}
.filter button{
    width: fit-content;
    border-radius: 5px;
    border: none;
    background: #ffffff;
    outline: none;
    cursor: pointer;
    color: #000000;
    font-weight: 300;

}
.filter input{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    appearance: none;
    
}