.cards {
    display: flex;
   margin: 100px 0;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.cards-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.card {
    display: flex;
    width: calc(30% - 10px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 0 10px;
    font-weight: 300;
}

.card h5 {
    margin: 10px 0;
    font-weight: 300;
}

.card p {
    margin: 10px 0;
    font-weight: 300;
}   

.card h1 {
    margin: 10px 0;
    font-weight: 300;
}

.card hr {
    margin: 10px 0;
    width: 100%;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.card .month {
    margin: 10px 0;
    font-weight: 300;
}

.card .title {
    margin: 10px 0;
    font-weight: 300;
}

.card .base-info {
    font-size: small;
    margin: 10px 0;
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.base-info .last{
    font-size: large;
    font-weight: bold;
}