.arc-swiper {
  width: 100%;
  height: 750px;
}

.arc-swiper .swiper-wrapper {
  align-items: center;
}

.slide-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arc-swiper .swiper-slide {
  display: flex;
  justify-content: center;
  transition: transform 0.8s ease, opacity 0.8s ease, filter 0.8s ease;
  opacity: 0.4;
  filter: grayscale(100%);
  margin: 0 30px;
}

.arc-swiper .swiper-slide img {
  width: 300px;
  border-radius: 24px;
  transition: all 0.8s ease;
}

.arc-swiper .swiper-slide-active {
  transform: translateY(0) scale(1.2);
  opacity: 1;
  filter: none;
  z-index: 3;
}

.arc-swiper .swiper-slide-active img {
  width: 70%;
}

.arc-swiper .swiper-slide-prev {
  transform: translate(-150px, 50px) scale(0.65);
  opacity: 0.8;
  filter: grayscale(40%);
  z-index: 2;
}

.arc-swiper .swiper-slide-next {
  transform: translate(150px, 50px) scale(0.5);
  opacity: 0.35;
  filter: grayscale(100%);
  z-index: 1;
}

/* ---------------- Адаптивка ---------------- */
@media (max-width: 1024px) {
  .arc-swiper .swiper-slide-active img {
    width: 80%;
  }
  .arc-swiper .swiper-slide-prev,
  .arc-swiper .swiper-slide-next {
    transform: translate(0) scale(0.8);
    opacity: 0.6;
  }
}

@media (max-width: 767px) {
  .arc-swiper {
    height: auto;
    padding-bottom: 40px;
  }
  .arc-swiper .swiper-slide {
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
  }
  .arc-swiper .swiper-slide img {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .arc-swiper {
    height: 400px;
    padding-bottom: 20px;
  }
  .arc-swiper .swiper-slide img {
    width: 90%;
  }
  .arc-swiper .swiper-slide h3 {
    font-size: 18px;
  }
  .arc-swiper .swiper-slide p {
    font-size: 12px;
    text-align: center;
  }
  .arc-swiper .swiper-slide-prev,
  .arc-swiper .swiper-slide-next {
    transform: translate(0, 0) scale(0.7);
    opacity: 0.5;
  }
}
