/* Hero.css */
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-overlay {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.5); 
}

.hero-content {
  position: relative;
  z-index: 10;
  color: rgb(182, 182, 182);
  padding: 30px 80px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  animation: fadeSlideIn 1.5s forwards;
}

/* Анимация появления текста */
@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.hero-content button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
  opacity: 0;
  animation: fadeSlideIn 1.5s forwards;
  animation-delay: 0.5s;
}

.hero-content button:hover {
  background-color: #0056b3;
}

/* ----------------- Адаптивка ----------------- */
/* Планшеты (768px - 1024px) */
@media (max-width: 1024px) {
  .hero-content {
    padding: 20px 40px;
  }

  .hero-content h1 {
    font-size: 2.5rem;
  }

  .hero-content p {
    font-size: 1.25rem;
  }

  .hero-content button {
    font-size: 0.9rem;
    padding: 0.6rem 1.2rem;
  }
}

/* Смартфоны (480px - 767px) */
@media (max-width: 767px) {
  .hero-content {
    padding: 15px 20px;
    text-align: center;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .hero-content button {
    font-size: 0.85rem;
    padding: 0.5rem 1rem;
  }
}

/* Малые устройства (до 480px) */
@media (max-width: 480px) {
  .hero-content {
    padding: 10px 15px;
  }

  .hero-content h1 {
    font-size: 1.5rem;
  }

  .hero-content p {
    font-size: 0.9rem;
  }

  .hero-content button {
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
  }
}
