@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
  max-width: 1440px !important;
  width: 100%;
  font-family: 'Inter', sans-serif;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;

}
