.home-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.about{
           background: #060809 url('/src/assets/images/bg-about.jpg') no-repeat center center/cover;
    filter: brightness(0.9);
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}