footer {
    background-color: #318B9B;
  text-align: center;
}
footer p {
  margin: 0;
  font-size: 14px;
}
.under-footer {
  width: 100%;
  height: 30px;
  padding: 6px 0;
  background-color: #000000;
  text-align: center;
  font-size: 12px;
  color: #ffffff;
}
.under-footer a {
  text-decoration: none;
}
.under-footer a:hover {
  text-decoration: underline;
}
.footer-content {
    padding: 20px 50px;
  color: #ffffff;
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: space-between;
}

.footer-socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;

  margin-top: 10px;
}
.footer-socials a {
    text-align: start;
  text-decoration: none;
  color: #ffffff;

  font-size: 14px;
  transition: color 0.3s;
}
.footer-socials a:hover {
  color: #007bff;
}
.info-column,
.footer-links,
.contact-column {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  
  ;
  align-items: center;
  text-align: start;
  font-size: 18px;

}
.contacts-column{
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;

}
.footer-links a {
  margin: 5px 0;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  transition: color 0.3s;
  text-align: start;
}
.socials{
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    gap: 10px;
}
.tg{
    display: flex;
    flex-direction: row;
    gap: 30px;
}