.footer {
  background-color: #318B9B;
  color: #ffffff;
}

.footer-content {
  padding: 40px 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.footer-logo img {
  width: 160px;
}

.footer-links,
.info-column,
.contacts-column,
.tg-column {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
}

.footer-links a,
.footer-socials a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover,
.footer-socials a:hover {
  color: #007bff;
}

.footer-socials {
  display: flex;
  gap: 40px;
}
.under-footer {
  background-color: #000;
  color: #fff;
  font-size: 12px;
  padding: 8px 0;
  text-align: center;
}
@media (max-width: 1024px) {
  .footer-content {
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 30px 20px;
  }

  .footer-socials {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .footer-logo img {
    width: 140px;
  }
}
